{% extends '/admin/base.html.twig' %}

{% block title %}Menu - Add{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="/ckeditor/ckeditor.js"></script>
    <script>
        // Replace the <textarea id="editor1"> with a CKEditor
        CKEDITOR.replace( 'article_contenu' );
    </script>
{% endblock %}



{% block body %}
   {{ form_start(form) }}
        <div class="row">
            <div class="col">
                <div class="alert alert-light">
                    <h2>Informations obligatoires</h2>
                    <hr/>
                    {{ form_row(form.titre) }}
                    {{ form_row(form.contenu) }}
                    {{ form_row(form.date_creation) }}
                    {{ form_row(form.date_start) }}
                    {{ form_row(form.date_stop) }}
                    {{ form_row(form.publie) }}
                    {{ form_row(form.archive) }}
                    {{ form_row(form.accueil) }}
                </div>
            </div>            
        </div>

        <div class="alert alert-success clearfix">
            <h2 class="alert-heading">Sauvegarder mon article</h2>
            <p>Vous êtes sur le point de sauvegarder votre article, veuillez vérifier les informations !</p>
            <button type="submit" class="btn btn-primary float-right">
            <i class="fas fa-check"></i>
            Ajouter l'article</button>
        </div>

            


        {{ form_end(form) }}        
{% endblock %}